<div class="col-12">
  <div class="row align-items-center">
    <div class="col-12 col-md-8">
      <mat-form-field appearance="outline">
        <mat-label>Project</mat-label>
        <input matInput placeholder="Project" [(ngModel)]="selectedProjectName">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-12 col-md-4">
      <button type="button" mat-raised-button color="accent" class="mr-2" (click)="searchProject()">Search</button>
      <button type="button" mat-raised-button color="accent" [disabled]="selectedProjectName==null" (click)="clearProject()">Clear Project</button>
    </div>
  </div>
</div>
<hr>
<div class="mat-elevation-z8 mt-5" [ngClass]="{'hide':dataSource?.data.length===0 || !dataSource}">
    <mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="taskDesc">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header > Task </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Task"> {{row.taskDesc}} </mat-cell>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="parentTaskDec">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Parent Task </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Parent Task"> {{row?.parentTaskDetails?.parentTaskDec}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="priority">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header > Priority </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Priority"> {{row.priority}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="startDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header > Start Date </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Start Date"> {{row.startDate}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="endDate">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header > End Date </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="End Date"> {{row.endDate}} </mat-cell>
      </ng-container>

      <!-- Color Column -->
      <ng-container matColumnDef="status">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header > Status </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Status"> {{row.status}} </mat-cell>
      </ng-container>


      <!-- Color Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row" data-label="Actions">
          <button mat-icon-button (click)="editProject(row)" *ngIf="row.status=='PENDING' || row.status==null">
            <i class="fas fa-edit"></i>
          </button>
          <ng-container *ngIf="row.status=='PENDING'">||</ng-container>
          <button mat-raised-button color="accent" (click)="endTask(row)" *ngIf="row.status=='PENDING' || row.status==null">
            End Task
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>

    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
  </div>
  <ng-container *ngIf="dataSource?.data.length==0 && ((this.selectedProject | json) !== '{}')">
    No Tasks Found For this Project
  </ng-container>

