<form class="example-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="col-12">
      <mat-form-field appearance="outline">
        <mat-label>Project</mat-label>
        <input matInput placeholder="Project" formControlName="projectName">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="submitted && f.projectName?.errors?.required">
          Please Fill in the Project Name.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-12">
      <div class="row align-items-center">
        <div class="col-12 col-md-4">
          <mat-checkbox formControlName="checkme">Set Start and End Date</mat-checkbox>
        </div>
        <div class="col-12 col-md-8" formGroupName="timeValid">
          <div class="row">
            <div class="col-12 col-md-6">
              <mat-form-field appearance="outline" [ngClass]="{'ng-invalid mat-form-field-invalid':((submitted && timeValidRef.errors?.myValidator) || (submitted && timeValidRef.errors?.empty))}">
                <mat-label>From Time</mat-label>
                <input matInput [min]="minDate" [matDatepicker]="pickerFromTime" placeholder="Choose a date" formControlName="fromTime" >
                <mat-datepicker-toggle matSuffix [for]="pickerFromTime"></mat-datepicker-toggle>
                <mat-datepicker #pickerFromTime></mat-datepicker>
                <mat-error *ngIf="submitted && timeValidRef?.fromTime?.errors?.required">
                  Please Enter From Time
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-12 col-md-6">
              <mat-form-field appearance="outline" [ngClass]="{'ng-invalid mat-form-field-invalid':((submitted && timeValidRef.errors?.myValidator) || (submitted && timeValidRef.errors?.empty))}">
                <mat-label>To Time</mat-label>
                <input matInput [min]="nextDate" [matDatepicker]="pickerToTime" placeholder="Choose a date" formControlName="toTime">
                <mat-datepicker-toggle matSuffix [for]="pickerToTime"></mat-datepicker-toggle>
                <mat-datepicker #pickerToTime></mat-datepicker>
                <mat-error *ngIf="submitted && timeValidRef?.toTime?.errors?.required">
                  Please Enter To Time
                </mat-error>
                <!-- <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div> -->
              </mat-form-field>
            </div>
            <mat-error *ngIf="submitted && timeValidRef.errors?.empty" class="abserror">
              Please Fill Both Fields
            </mat-error>
            <mat-error *ngIf="submitted && timeValidRef.errors?.myValidator" class="abserror">
              End Date must be bigger than start date
            </mat-error>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <mat-slider
          class="example-margin"
          [max]="maxPriority"
          [min]="minPriority"
          [step]="step"
          [thumbLabel]="thumbLabel"
          [(ngModel)]="value" formControlName="priority">
      </mat-slider>
    </div>
    <div class="col-12">
        <div class="row align-items-center">
          <div class="col-12 col-md-9">
            <mat-form-field appearance="outline">
              <mat-label>Manager</mat-label>
              <input matInput placeholder="Manager" formControlName="manager" readonly>
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="submitted && f.manager?.errors?.required">
                Please Select Manager from Search Manager Screen
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-3">
            <button type="button" mat-raised-button color="accent" (click)="searchManager()">Search</button>
          </div>
        </div>
    </div>
    <div class="col-12 mt-3 mt-md-0">
      <button mat-raised-button color="primary">
        <ng-container *ngIf="!inEditMode">Submit</ng-container><ng-container *ngIf="inEditMode">Update</ng-container>
      </button>
      <button type="button" mat-raised-button color="secondary" (click)="resetForm()">Reset</button>
    </div>
  </form>
  <hr>
  <app-view-projects [uploadSuccess] = "uploadSuccess" (editProjectEvent)="editProject($event)"></app-view-projects>

